@{
	ViewData["Title"] = "Schedule editor";
}

<div ng-app="cinemaApp">
	<div ng-controller="scheduleEditorController">
		<div ng-cloak class="ng-cloak text-center">

			<div class="row form-group">
				<div class="col">
					<h3>@ViewData["Title"]</h3>
				</div>
			</div>

			<div class="row form-group" ng-show="errorMessage">
				<div class="col-sm-12">
					<div class="alert alert-danger" role="alert">{{errorMessage}}</div>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-2">Cinema</div>
				<div class="col-sm-9">
					<select class="form-control"
							ng-model="selectedCinema"
							ng-options="x.name for x in cinemas track by x.id"
							ng-change="OnCinemaChanged()"></select>
				</div>
				<div class="col-sm-1">*</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-2">Movie</div>
				<div class="col-sm-9">
					<select class="form-control"
							ng-model="selectedMovie"
							ng-options="x.name for x in movies track by x.id"
							ng-change="OnMovieChanged()"></select>
				</div>
				<div class="col-sm-1">*</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-2">Date</div>
				<div class="col-sm-9">
					<select class="form-control"
							ng-model="selectedDate"
							ng-options="x.date | date:'MM/dd/yy' for x in dates track by x.id"
							ng-change="OnDateChanged()"></select>
				</div>
				<div class="col-sm-1">*</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-2">Sessions</div>
				<div class="col-sm-9">
					<select class="form-control"
							ng-model="selectedSession"
							ng-options="x.startDate | date:'hh:mm' for x in sessions track by x.Id"></select>
				</div>
				<div class="col-sm-1">*</div>
			</div>

			<div class="row form-group">
				<button ng-click="AddBtnClick()" type="button" class="btn btn-primary">Add</button>
				<button ng-click="RemoveBtnClick()" type="button" class="btn btn-danger">Remove</button>
			</div>

			<div class="row form-group">
				<div class="col text-center">
					<button ng-click="OnTestBtnClick()" type="button" class="btn btn-warning">Test</button>
				</div>
			</div>

		</div>
	</div>
</div>

@section scripts
	{
	<script src="~/js/cinemaApp/cinemaApp.js"></script>
	<script src="~/js/cinemaApp/controllers/scheduleEditorController.js"></script>
	<script src="~/js/cinemaApp/dataService.js"></script>
	<script src="~/js/main.js"></script>
}